---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/weather.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&num_of_days=5&q=Birmingham,%20United%20Kingdom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1b-91.mashery.com
    body:
      encoding: UTF-8
      string: '{ "data": { "current_condition": [ {"cloudcover": "75", "humidity":
        "94", "observation_time": "02:53 PM", "precipMM": "0.0", "pressure": "1013",
        "temp_C": "13", "temp_F": "55", "visibility": "10", "weatherCode": "116",  "weatherDesc":
        [ {"value": "Partly Cloudy" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"
        } ], "winddir16Point": "S", "winddirDegree": "190", "windspeedKmph": "19",
        "windspeedMiles": "12" } ],  "request": [ {"query": "Birmingham, United Kingdom",
        "type": "City" } ],  "weather": [ {"date": "2013-12-15", "precipMM": "3.3",
        "tempMaxC": "12", "tempMaxF": "53", "tempMinC": "11", "tempMinF": "52", "weatherCode":
        "122",  "weatherDesc": [ {"value": "Overcast" } ],  "weatherIconUrl": [ {"value":
        "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"
        } ], "winddir16Point": "S", "winddirDegree": "180", "winddirection": "S",
        "windspeedKmph": "39", "windspeedMiles": "24" }, {"date": "2013-12-16", "precipMM":
        "2.6", "tempMaxC": "12", "tempMaxF": "53", "tempMinC": "3", "tempMinF": "37",
        "weatherCode": "293",  "weatherDesc": [ {"value": "Patchy light rain" } ],  "weatherIconUrl":
        [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0017_cloudy_with_light_rain.png"
        } ], "winddir16Point": "W", "winddirDegree": "270", "winddirection": "W",
      [...]
