---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/weather.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Birmingham,%20United%20Kingdom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-98.mashery.com
    body:
      encoding: UTF-8
      string: '{ "data": { "current_condition": [ {"cloudcover": "75", "humidity":
        "87", "observation_time": "11:07 PM", "precipMM": "2.4", "pressure": "1012",
        "temp_C": "11", "temp_F": "52", "visibility": "10", "weatherCode": "116",  "weatherDesc":
        [ {"value": "Partly Cloudy" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"
        } ], "winddir16Point": "SSW", "winddirDegree": "200", "windspeedKmph": "30",
        "windspeedMiles": "19" } ],  "request": [ {"query": "Birmingham, United Kingdom",
        "type": "City" } ],  "weather": [ {"date": "2013-12-14", "precipMM": "3.5",
        "tempMaxC": "10", "tempMaxF": "50", "tempMinC": "5", "tempMinF": "41", "weatherCode":
        "116",  "weatherDesc": [ {"value": "Partly Cloudy" } ],  "weatherIconUrl":
        [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"
        } ], "winddir16Point": "S", "winddirDegree": "187", "winddirection": "S",
        "windspeedKmph": "41", "windspeedMiles": "26" } ] }}'
  recorded_at: Sat, 14 Dec 2013 23:07:46 GMT
recorded_with: VCR 2.8.0
