---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/weather.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&num_of_days=5&q=SP4%207DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1b-93.mashery.com
    body:
      encoding: UTF-8
      string: '{ "data": { "current_condition": [ {"cloudcover": "100", "humidity":
        "100", "observation_time": "02:53 PM", "precipMM": "0.3", "pressure": "1017",
        "temp_C": "12", "temp_F": "54", "visibility": "4", "weatherCode": "302",  "weatherDesc":
        [ {"value": "Moderate rain" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0018_cloudy_with_heavy_rain.png"
        } ], "winddir16Point": "SSW", "winddirDegree": "200", "windspeedKmph": "35",
        "windspeedMiles": "22" } ],  "request": [ {"query": "SP4", "type": "Postcode"
        } ],  "weather": [ {"date": "2013-12-15", "precipMM": "7.8", "tempMaxC": "12",
        "tempMaxF": "54", "tempMinC": "10", "tempMinF": "50", "weatherCode": "266",  "weatherDesc":
        [ {"value": "Light drizzle" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0017_cloudy_with_light_rain.png"
        } ], "winddir16Point": "S", "winddirDegree": "188", "winddirection": "S",
        "windspeedKmph": "33", "windspeedMiles": "21" }, {"date": "2013-12-16", "precipMM":
        "10.9", "tempMaxC": "13", "tempMaxF": "55", "tempMinC": "3", "tempMinF": "38",
        "weatherCode": "302",  "weatherDesc": [ {"value": "Moderate rain" } ],  "weatherIconUrl":
        [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0018_cloudy_with_heavy_rain.png"
        } ], "winddir16Point": "SW", "winddirDegree": "224", "winddirection": "SW",
       [...]
