---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-102.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName": [ {"value": "Paris" } ],  "country":
        [ {"value": "France" } ], "latitude": "48.867", "longitude": "2.333", "population":
        "2110694",  "region": [ {"value": "Ile-De-France" } ],  "weatherUrl": [ {"value":
        "http:\/\/www.worldweatheronline.com\/Paris-weather\/Ile-de-France\/FR.aspx"
        } ] }, { "areaName": [ {"value": "Paris" } ],  "country": [ {"value": "United
        States Of America" } ], "latitude": "33.661", "longitude": "-95.555", "population":
        "27022",  "region": [ {"value": "Texas" } ],  "weatherUrl": [ {"value": "http:\/\/www.worldweatheronline.com\/Paris-weather\/Texas\/US.aspx"
        } ] }, { "areaName": [ {"value": "Paris" } ],  "country": [ {"value[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Rome
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-104.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName":[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Krakow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-90.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName"[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-90.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName"[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Tokyo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-100.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName": [ {"value": "Tokyo" } ],  "country":
        [ {"value": "Japan" } ], "latitude": "35.685", "longitude": "139.751", "population":
        "31480498",  "region": [ {"value": "Tokyo" } ],  "weatherUrl": [ {"value":
        "http:\/\/www.worldweatheronline.com\/Tokyo-weather\/Tokyo\/JP.aspx" } ] },
        { "areaName": [ {"value": "Tokyo" } ],  "country": [ {"value": "Papua New
        Guinea" } ], "latitude": "-8.400", "longitude": "147.150", "population": "0",  "region":
        [ {"value": "Central" } ],  "weatherUrl": [ {"value": "http:\/\/www.worldweatheronline.com\/Tokyo-weather\/Central\/PG.aspx"
        } ] } ] }}'
  recorded_at: Sun, 15 Dec 2013 12:18:59 GMT
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-102.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName[...]
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=Toronto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-102.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaNam[...]
