---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/search.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-98.mashery.com
    body:
      encoding: UTF-8
      string: '{ "search_api": { "result": [ { "areaName": [ {"value": "London" }
        ],  "country": [ {"value": "United Kingdom" } ], "latitude": "51.517", "longitude":
        "-0.106", "population": "7421228",  "region": [ {"value": "City Of London,
        Greater London" } ],  "weatherUrl": [ {"value": "http:\/\/www.worldweatheronline.com\/London-weather\/City-of-London-Greater-London\/GB.aspx"
        } ] }, { "areaName": [ {"value": "London" } ],  "country": [ {"value": "Canada"
        } ], "latitude": "42.983", "longitude": "-81.250", "population": "346774",  "region":
        [ {"value": "Ontario" } ],  "weatherUrl": [ {"value": "http:\/\/www.worldweatheronline.com\/London-weather\/Ontario\/CA.aspx"
        } ] }, { "areaName": [ {"value": "London" } ],  "country": [ {"value"[...]
