---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/weather.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&num_of_days=5&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1a-98.mashery.com
    body:
      encoding: UTF-8
      string: '{ "data": { "current_condition": [ {"cloudcover": "75", "humidity":
        "82", "observation_time": "12:18 PM", "precipMM": "0.1", "pressure": "1020",
        "temp_C": "13", "temp_F": "55", "visibility": "10", "weatherCode": "116",  "weatherDesc":
        [ {"value": "Partly Cloudy" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"
        } ], "winddir16Point": "S", "winddirDegree": "190", "windspeedKmph": "19",
        "windspeedMiles": "12" } ],  "request": [ {"query": "London, United Kingdom",
        "type": "City" } ],  "weather": [ {"date": "2013-12-15", "precipMM": "3.0",
        "tempMaxC": "12", "tempMaxF": "54", "tempMinC": "10", "tempMinF": "50", "weatherCode":
        "119",  "weatherDesc": [ {"value": "Cloudy" } ],  "weatherIconUrl": [ {"value":
        "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0003_white_cloud.png"
        } ], "winddir16Point": "S", "winddirDegree": "190", "winddirection": "S",
        "windspeedKmph": "38", "windspeedMiles": "24" }, {"date": "2013-12-16", "precipMM":
        "8.1", "tempMaxC": "13", "tempMaxF": "55", "tempMinC": "4", "tempMinF": "38",
        "weatherCode": "266",  "weatherDesc": [ {"value": "Light drizzle" } ],  "weatherIconUrl":
        [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0017_cloudy_with_light_rain.png"
        } ], "winddir16Point": "SSW", "winddirDegree": "212", "winddirection": "SSW",
      [...]
