---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/free/v1/weather.ashx?format=JSON&key=nfvms2axfxrs9kaza6yywqqj&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-eu-west-1b-101.mashery.com
    body:
      encoding: UTF-8
      string: '{ "data": { "current_condition": [ {"cloudcover": "75", "humidity":
        "71", "observation_time": "10:40 PM", "precipMM": "0.2", "pressure": "1018",
        "temp_C": "12", "temp_F": "54", "visibility": "10", "weatherCode": "116",  "weatherDesc":
        [ {"value": "Partly Cloudy" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"
        } ], "winddir16Point": "SW", "winddirDegree": "220", "windspeedKmph": "37",
        "windspeedMiles": "23" } ],  "request": [ {"query": "London, United Kingdom",
        "type": "City" } ],  "weather": [ {"date": "2013-12-14", "precipMM": "0.2",
        "tempMaxC": "11", "tempMaxF": "52", "tempMinC": "7", "tempMinF": "44", "weatherCode":
        "116",  "weatherDesc": [ {"value": "Partly Cloudy" } ],  "weatherIconUrl":
        [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"
        } ], "winddir16Point": "SSW", "winddirDegree": "208", "winddirection": "SSW",
        "windspeedKmph": "37", "windspeedMiles": "23" } ] }}'
  recorded_at: Sat, 14 Dec 2013 22:40:11 GMT
recorded_with: VCR 2.8.0
