<h2>Forecast for <%= @location.name %></h2>

<div id="forecast_current">
  <ul class="pricing-table">
    <li class="title">Today</li>
    <li class="price">
    <%= @location.weather.current_condition.temp_C %>c /
    <%= @location.weather.current_condition.temp_F %>f
    </li>
    <li class="description">
      <%= @location.weather.current_condition.weatherDesc.first.value %>
    </li>
  </ul>
</div>
