<h2>Weather for <%= @location.name %></h2>

<div id="forecast_current">
  <ul class="pricing-table">
    <li class="title">Today</li>
    <li class="price">
    <%= @location.weather.temp_c %>&#176;c /
    <%= @location.weather.temp_f %>&#176;f
    </li>
    <li class="description">
      <%= @location.weather.description %>
    </li>
  </ul>
</div>
